body{
    display: flex;
    justify-content: center;
    background-color: black;
}

.row{
    display: flex;
    text-align:center;
    justify-content: center;

}

.box{
    border: 1px black solid;
    padding: 50px;
    border: 1px white solid;
}

.box1{
    border: 1px black solid;
    height: 100px;
    border: 1px white solid;
}